<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uo75.ernestoDuvalonUO">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sample75UO"
        android:usesCleartextTraffic="true">

        <service android:name=".ui.ServicioSearchAvisos" />

        <activity
            android:name=".ui.options.GraficoActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:label="Gráfico">

        </activity>
        <activity
            android:name=".ui.options.MultimediaActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:label="Multimedia" />
        <activity
            android:name=".ui.gallery.GalleryActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:label="Postales" />
        <activity
            android:name=".ui.options.AvisoEspecialActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:label="Avisos UO" />
        <activity
            android:name=".ui.options.PteFeuActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:label="Presidentes de la FEU" />
        <activity
            android:name=".ui.options.CampannaActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:label="Campañas" />
        <activity
            android:name=".ui.options.HonorCausaActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:label="Honoris Causa" />
        <activity
            android:name=".ui.options.ProfeMeritoActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:label="Profesores Eméritos" />
        <activity
            android:name=".ui.options.EstadisticasActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:label="Estadísticas" />
        <activity
            android:name=".ui.options.IdentidadActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:label="Identidad" />
        <activity
            android:name=".ui.options.RectoresActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:label="Rectores" />
        <activity
            android:name=".ui.options.EfemeridesActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:label="Efemérides" />
        <activity
            android:name=".ui.options.PatrimonioActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:label="Patrimonio" />
        <activity
            android:name=".ui.options.NewsActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:label="La Tablilla" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sample75UO.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>