<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uo75.ernestoDuvalonUO">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sample75UO"
        android:usesCleartextTraffic="true">
        <service android:name=".ui.ServicioSearchAvisos" />
        <activity
            android:name="com.uo75.ernestoDuvalonUO.ui.options.MultimediaActivity"
            android:label="Multimedia" />
        <activity
            android:name="com.uo75.ernestoDuvalonUO.ui.gallery.GalleryActivity"
            android:label="Postales" />
        <activity
            android:name="com.uo75.ernestoDuvalonUO.ui.options.AvisoEspecialActivity"
            android:label="Avisos UO" />
        <activity
            android:name="com.uo75.ernestoDuvalonUO.ui.options.PteFeuActivity"
            android:label="Presidentes de la FEU" />
        <activity
            android:name="com.uo75.ernestoDuvalonUO.ui.options.CampannaActivity"
            android:label="Campañas" />
        <activity
            android:name="com.uo75.ernestoDuvalonUO.ui.options.HonorCausaActivity"
            android:label="Honoris Causa" />
        <activity
            android:name="com.uo75.ernestoDuvalonUO.ui.options.ProfeMeritoActivity"
            android:label="Profesores Eméritos" />
        <activity
            android:name="com.uo75.ernestoDuvalonUO.ui.options.EstadisticasActivity"
            android:label="Estadísticas" />
        <activity
            android:name="com.uo75.ernestoDuvalonUO.ui.options.IdentidadActivity"
            android:label="Identidad" />
        <activity
            android:name="com.uo75.ernestoDuvalonUO.ui.options.RectoresActivity"
            android:label="Rectores" />
        <activity
            android:name="com.uo75.ernestoDuvalonUO.ui.options.EfemeridesActivity"
            android:label="Efemérides" />
        <activity
            android:name="com.uo75.ernestoDuvalonUO.ui.options.PatrimonioActivity"
            android:label="Patrimonio" />
        <activity
            android:name="com.uo75.ernestoDuvalonUO.ui.options.NewsActivity"
            android:label="La Tablilla" />
        <activity
            android:name="com.uo75.ernestoDuvalonUO.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sample75UO.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>